* {
    transition: all 0.3s;
  }

  #juegoweb {
    margin-top: 40px;
    padding: 0px;
    text-align: center;
    font-family: calibri;
    font-size: 120%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
  }

  .contenedor {
    background: rgb(247, 248, 248);
    height: 700px;
    width: 60vw;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .encabezado {
    position: relative;
    background: white;
    min-width: 300px;
    width: 70%;
    max-width: 600px;
    padding: 10px;
  }

  .categoria {
    opacity: 0.3;
    text-align: left;
  }

  .pregunta {
    padding: 10px;
  }

  .imagen {
    object-fit: cover;
    height: 0px;
    width: 0px;
  }

  .btn {
    background: white;
    width: 60%;
    max-width: 550px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
  }

  .btn:hover {
    transform: scale(1.05);
  }
  
  .numero{
    position: absolute;
    opacity:0.3;
    top: 10px;
    right: 10px;
  }
  
  .puntaje{
    padding:10px;
    color:white;
  }